<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>


	<connectionStrings>
		<!-- UREDITI PODATKE ZA connectionString za svoju lokalnu bazu koju generisete sa DDL/SQL skriptama -->
		<add name="vKitchenvConn"
			 connectionString="Server=localhost;Database=mydb;Uid=root;Pwd=change;"
			 providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>

</configuration>

